* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.App {
  text-align: center;
  min-height: 100vh;
  /* background: url('./assets/grass.png') left bottom repeat-x; */
  border-image: url(./assets/stone.png) 20 round;
  border-image-repeat: repeat;
  background: url(./assets/grass.png) left top no-repeat;
  background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App {
  width: 100%;
  text-align: center;
}

li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.input-radiobtns {
  width: 100%;
  display: block;
}

.input-radiobtns label {
  font-size: 24px;
  margin-right: 20px;
}

.input-radiobtns label:last-child {
  margin-right: 0px;
}

.username {
  font-size: 16px;
  color: #fff;
}

.game-area {
  position: relative;
  margin: 0px auto;
  width: 100%;
  height: 91vh;
  border: 20px solid transparent;
  border-image: url(./assets/stone.png) 20 round;
  border-image-repeat: repeat;
  background: url(./assets/grass.png) left top no-repeat;
  background-size: cover;
  padding: 30px;
}

.snake-dot {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: #000;
  border: 1px solid #fff;
  z-index: 2;
}

.snake-food {
  position: absolute;
  width: 2%;
  height: 2%;
  background: red;
  /* background: url(./assets/food1.png) center center no-repeat; */
  border: 1px solid #fff;
  z-index: 1;
}
.row{
  margin: 0px !important;
}
.gameHeader{
  width: 100%;
  display: block;
  text-align: left;
  position: relative;
  height: 64px;
  background-color: #4dba6e;
}

.gameHeader h1{
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 1px;
}

.container-fluid{
  padding: 0px !important;
}
.loginregisterHeader{
  position: absolute;
  right: 25px;
  top: 13px;
}
button.headerCommonButton{
  background-color: transparent;
  border: #fff solid 1px;
  border-radius: 4px;
  margin: 0 8px;
  padding: 0.5rem 1.5rem;
  color: #fff;
  transition: all ease-in-out 0.3s;
}

button.headerCommonButton:hover{
  background-color: #28994a;
  border: #28994a solid 1px;
  color: #fff;
}

button.headerCommonButton h2{
  color: #fff;
  text-transform: capitalize;
}

button.gameStartBtn{
  background-color: #28994a;
  border: #28994a solid 1px;
  border-radius: 4px;
  margin: 20px 8px 0px 8px;
  padding: 0.5rem 1.5rem;
  color: #fff;
  transition: all ease-in-out 0.3s;
}
button.gameStartBtn:hover{
  background-color: #119539;
  border: #119539 solid 1px;
  color: #fff;
}

button.gameStartBtn h2{
  color: #fff;
  text-transform: capitalize;
  font-size: 20px;
}
.buttonGroup{
  text-align: center;
  margin: 0 auto;
  width: 60%;
  display: block !important;
}
.buttonGroup button{
  max-width: 13rem;
}
.homepageSection{
  width: 50%;
  margin: 50px auto;
  background-color: #edfff4;
  padding: 25px 0 25px 0;
  box-shadow: #e6e6e6 0 5px 10px;
  border-radius: 10px;
}

@media(max-width:768px) {
  .gameHeader h1 {
    position: absolute;
    left: 15px;
    right: auto;
    text-align: center;
    top: 9px;
  }
  .loginregisterHeader {
    position: absolute;
    right: 15px;
    top: 16px;
  }
  .homepageSection{
    width: 90%;
  }
  .buttonGroup{
    width: 100%;
  }
  button.gameStartBtn h2{
    font-size: 1rem !important;
  }
}